<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileZipper</title>
    <link rel="stylesheet" href="tstyle3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

    <nav>
        <h1>File Zipper</h1>
        <a href="/home"><span class="material-icons">home</span> Home</a>
        <a href="/home"><span class="material-icons">
                people
            </span> About Us</a>
        <a href="https://en.wikipedia.org/wiki/Huffman_coding"><span class="material-icons">
                contact_support
            </span> Help</a>
    </nav>
    <div id="land">
        <main>

            <h2>Click to download the decompressed file</h2>
            <form action="/decompressed/download">
                <div class="variants">
                    <div class='file file--success'>
                        <label for='input-file1'>
                            <i class="material-icons">cloud_done</i>Download
                        </label>
                        <button id='input-file1'></button>
                    </div>
                </div>
            </form>
            <form action="/home">


                <h3>To navigate to home page</h3>
                <button id="go">Go Home</button>

            </form>

        </main>
    </div>
    <div class="bottom">
        <h3>What is a ZIP file?</h3>
        <p>
            ZIP files are also known as "archive" files. They use lossless compression to reduce the file size
            of
            the
            files contained inside the ZIP.
            Thus, the ZIP file functions as a folder that groups files and uses compression to make it easier to
            store,
            send, and share their content.
        </p>
    </div>
    <div class="bottom">
        <h3>
            How to compress to ZIP?
        </h3>
        <p>
            1. Upload your files.
            <br>
            2. Click on "Start" to begin with the ZIP compression.
        </p>
    </div>
</body>

</html>